  <div class="navbar_custom">


    <ul class="list_inline">

      <li class="list_inline" id="img">
        <%= image_tag("rocket_logo.png") %>
      </li>

      <%= link_to root_path do %>
        Home
      <% end %>

      <li class="list_inline"><a href=""></a>
      </li>

      <%= link_to root_path do %>
        Booking
      <% end %>

      <%= link_to myposts_path do %>
        My posts
      <% end %>
    </ul>

    <a href="" class="btn-red">log in</a>
  </div>
