  <div class="navbar_custom">


    <ul class="list_inline">

      <li class="list_inline" id="img">
        <%= image_tag("rocket_logo.png") %>
      </li>
      <li class="list_inline"><a href="">Home</a>
      </li>
      <li class="list_inline"><a href="">Booking</a>
      </li>
      <li class="list_inline"><a href="">My Posts</a>
      </li>
    </ul>

    <a href="" class="btn-red">log in</a>
  </div>
