<div class="header">

  <div class="navbar_custom">
    <%= @navbar %>
    <img src="logo_rocket.png" alt="">
    <ul class="list_inline">
      <li><a href="">Home</a></li>
      <li><a href="">Booking</a></li>
      <li><a href="">My Posts</a></li>
    </ul>
  </div>

</div>
<div class="container">
</div>
<div class="footer">
</div>
