<div class="container-white">

  <div>
    <h1>Rocket name</h1>
  </div>

  <div>
    <h2>Capacity:</h2>
    <h2>Person number:</h2>
    <h3>Price:15000$:</h3>
    <a href=>
  </div>


  <div>
    <%= image_tag "map.png", alt: "Le Map du monde", width: 200 %>
    <a href="app/assets/images/map.png">map</a>

    <h2>Localisation</h2>
    <h2>Country:</h2>
    <h2>City:</h2>

    <a href="" class="button-red">Book</a>
  </div>


</div>
