<div class="container-white-2">


  <div>
    <h1>Rocket name</h1>
  </div>

  <div>
    <h2>Capacity:</h2>
    <h2>Person number:</h2>
    <h2>Price:15000$:</h2>
    <a href=>
  </div>


  <div>

    <a href="app/assets/images/map.png">map</a>
    <img alt="Le Wagon" width="200" src="/assets/logo-37ca9[...]16691cdd.png">

    <h2>Localisation</h2>
    <h2>Country: France</h2>
    <h2>City: Marseille</h2>

    <a href="" class="button-red">Book</a>
  </div>


</div>
