<div class="container-white-2">
  <div>
    <h1>Rocket name</h1>
  </div>

  <div class="rocket-show-card-top">
  <div>
    <h2>Capacity:</h2>
    <h2>Person number:</h2>
    <h2>Price:15000$:</h2>
    <a href=>
  </div>
    <%= image_tag "Fusée5.png", alt: "Fusee5", width: 200 %>
  </div>


  <div class="rocket-show-card-bottom">
    <%= image_tag "map.png", alt: "Le Map du monde", width: 200 %>
    <div>
      <a href="app/assets/images/map.png"></a>
      <h2>Localisation</h2>
      <h2>Country: France</h2>
      <h2>City: Marseille</h2>
    </div>
  </div>

    <div class="rocket-show-card-button">
      <a href="" class="btn-red">Book</a>
    </div>


</div>
