.btn-red-2 {
  background-color: $red;
  padding: 10px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.btn-red-2:hover {
  background-color: $blue;
  color: white;
}
