.btn-red{
  background-color: #FC3D21;
  color: white
  font-weight  bold;
  padding : 15px 32px;
  width : 65px;
  height : 32px;
  border-radius :5px;
  text-decoration: none;
  box-shadow: #0B3D91;
  // display: inline-block;
  font-size: 16px;
  transition: 0.5s ease;
}

.btn-red:hover{
  background-color: #0B3D91;
  color: white;
}
