.navbar_custom {
  justify-content: space-between;
  align-items: end;
  height: 100px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  background: rgba(11, 61, 145, 0.89);
  color: white;
  font-family: $headers-font;
  font-size: 16px;
}


.navbar_custom a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  --bs-link-hover-color: none;
}

.navbar_custom ul{
  list-style: none;
  padding-left: 0%;
  text-align: center;
  padding-bottom: 10px;
  line-height: 113px;
  display: flex;
  justify-content: space-between;
}
.navbar_custom li{
  display: inline;
  padding: 15px;
  line-height: 10px;
}
