.navbar_custom {
  // justify-content: space-between;
  margin-top: 40px;
  display: block;
  background: rgba(11, 61, 145, 0.89);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}


.navbar_custom a {
  text-decoration: none;
  color: white;
}

.navbar_custom ul{
  list-style: none;
  padding-left: 0%;
  text-align: center;
  padding-bottom: 10px;
  line-height: 113px;
  display: flex;
  justify-content: space-between;
}
.navbar_custom li{
  display: inline;
  padding: 70px;
  line-height: 10px;
}
