.title-blue {
  color: $blue;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.title-white {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.container-title {
  margin: 10px auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
}
