.title-blue {
  color: $blue;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

// .title-blue-1 {
//   color: $blue;
//   font-size: 25px;
//   font-weight: 600;
//   margin-bottom: 30px;
//   display: flex;
//   align-items: center;
// }

.title-white {
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.container-title {
  margin: 10px auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
}

.text-blue {
  color: $blue;
  font-weight: 400;
  font-size: 20px;
}

// .column2 {
//   grid-auto-rows: 50px;
// }
